:root {
    --primary-color: #023e8a;
    --secondary-color: #0077b6;
    --accent1-color: #caf0f8;
    --accent2-color: #90e0ef;

    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: var(--accent1-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent2-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 90%;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    background-color: #d3e0ea; /* Light blue gray background */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;  /* Center the text */
}

p {
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;  /* Pushes logo to left and nav to right */
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    border: 2px solid var(--primary-color);  /* Adds a border around the menu */
    border-radius: 10px;  /* Optional: adds rounded corners */
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
    align-items: center;
    background-image: url(../images/hero-image.png);
    background-position: center;
    background-size: cover;
    background-position: center;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    background-color: #add8e6; /* Light blue color close to the blue of water */
    border-radius: 10px;
}
.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.425);
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-size: 40px;
}

.hero article {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(222, 255, 255, 0.425);
    padding: 20px;
    max-width: 60%;
    border-radius: 10px;
}

.hero article img {
    float: right;
    width: 100px;
    height: auto;
    margin-left: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section img {
    width: 400px; /* Increase the width */
    height: auto; /* Maintain aspect ratio */
    margin: 5px;
    border-radius: 10px; /* Add rounded corners */
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the area */
}

footer {
    background-color: var(--accent1-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sociallinks a {
    margin-left: 10px;
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    height: 30px;
}
