/* Style for the nav element */
nav {
    background-color: steelblue;
    padding: 10px;
  }
  
  nav a {
    color: white;
    display: block;
    padding: 20px;
  }
  
  /* Style for the h1 element */
  h1, h2 {
    color: steelblue;
  }
  
  /* Style for the images in the main section */
  main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  
  /* Style for the paragraph elements */
  p {
    padding: 0;
  }
  
  /* Style for the main section */
  main {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Style for the aside element */
  aside {
    width: 80%;
    margin: 20px auto;
    border: 1px solid steelblue;
    padding: 10px;
    background-color: lightgray;
    color: black;
  }
  
  /* Style for images in the aside */
  aside img {
    width: 200px;
    height: auto;
  }
  
  /* Style for the footer */
     footer {
        margin-top: 20px;
        border-top: 1px solid steelblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }
    
    footer .copyright {
        flex-grow: 1;
        text-align: center;
    }
    
    footer .sociallinks {
        display: flex;
        gap: 10px;
    }
  
  h1, h2, h3, h4, h5, h6 { 
    font-family: 'Georgia', serif; 
  }
  
  body { 
    font-family: 'Roboto', sans-serif; 
  }
   
   